<p id="notice"><%= notice %></p>

<div id="channel_title">
  <%= @channel.name %>
</div>

<hr />

<div id="channel_description">
  <strong>Channel description:</strong>
  <%= @channel.description %>
</div>

<hr />
<div id="gossip_text">What's your juicy gossip?</div>
<div id="message_form">
  <%= render :partial => "posts/message_form" %>
</div>

<div id="posts">
  <%= render :partial => @posts %>
</div>

