<%= javascript_include_tag 'overlay' %>

<p id="notice"><%= notice %></p>

<% content_for(:right) do %>
  <div id="buttons">
	<table>
		<tr>
		  <td id="add"><%= link_to "+", {:action => :show_modal, :type => "ADD"}, {:remote => true} %></td>
		  <td id="help"><%= link_to "?", {:action => :show_modal, :type => "INS"}, {:remote => true} %></td>
		  <td id="terms"><%= link_to "ยง", {:action => :show_modal, :type => "TER"}, {:remote => true} %></td>
		</tr>
	</table>
  </div>

  <div id="sidebar">
	<div id="channel_title">
	  <%= @channel.name %>
	</div>

	<hr />

	<div id="channel_description">
	  <strong>Channel description:</strong>
	  <p><%= @channel.description %></p>
	</div>
  </div>
<% end %>

<div id="gossip_text">What's your juicy gossip?</div>
<div id="message_form">
  <%= render :partial => "posts/message_form" %>
  <%= button_to "Refresh posts", {:controller => "posts", :action => :index, :timestamp => @last_refresh, :channel_id => @channel.id.to_s}, {:remote => true, :id => "refresh"} %>
</div>

<div id="new_posts">
</div>
<div id="posts">
  <%= render :partial => @posts %>
</div>
