<p id="notice"><%= notice %></p>

<% content_for(:right) do %>
  <div id="buttons">
	<table>
		<tr>
		  <td><button type="button" id="add">+</button></td>
		  <td><button type="button" id="help">?</button></td>
		  <td><button type="button" id="terms">ยง</button></td>
		</tr>
	</table>
  </div>

  <div id="sidebar">
	<div id="channel_title">
	  <%= @channel.name %>
	</div>

	<hr />

	<div id="channel_description">
	  <strong>Channel description:</strong>
	  <p><%= @channel.description %></p>
	</div>
  </div>
<% end %>

<div id="gossip_text">What's your juicy gossip?</div>
<div id="message_form">
  <%= render :partial => "posts/message_form" %>
</div>

<div id="posts">
  <%= render :partial => @posts %>
</div>

