<%= javascript_include_tag 'overlay' %>

<p id="notice"><%= notice %></p>

<% content_for(:right) do %>
  <div id="buttons">
	<table>
		<tr>
		  <td id="add"><%= link_to "+", {:action => :show_modal, :type => "create_channel_form"}, {:remote => true} %></td>
		  <td id="help"><%= link_to "?", {:action => :show_modal, :type => "instructions"}, {:remote => false} %></td>
		  <td id="terms"><%= link_to "ยง", {:action => :show_modal, :type => "terms_of_use"}, {:remote => true} %></td>
		</tr>
	</table>
  </div>

  <div id="sidebar">
	<div id="channel_title">
	  <%= @channel.name %>
	</div>

	<hr />

	<div id="channel_description">
	  <strong>Channel description:</strong>
	  <p><%= @channel.description %></p>
	</div>
  </div>
<% end %>

<div id="tab_content">
<%= content_tag :div, {:id => "channel", :style => @channel_visibility} do -%>
  <div id="gossip_text">What's your juicy gossip? (In less than 1000 characters.)</div>
  <div id="message_form">
    <%= render :partial => "posts/message_form" %>
    <%= button_to "Refresh posts", {:controller => "posts", :action => :index, :timestamp => @last_refresh, :channel_id => @channel.id.to_s}, {:remote => true, :id => "refresh"} %>
  </div>

  <div id="posts">
    <%= render :partial => @posts %>
  </div>

<% end -%>

<%= content_tag :div, {:id => "instructions", :style => @instruction_visibility} do -%> 
  <%= render :partial => "instructions" %>
<% end -%>

<%= content_tag :div, {:id => "create_channel_form", :style => @new_visibility} do -%> 
  <%= render :partial => "create_channel_form" %>
<% end -%>
</div>

<% content_for(:footer) do %>
  <%= link_to "Terms of Use", {:controller => "terms"}, {:id => "TOU"} %>
<% end %>