

<%= div_for (post) do %>
  <% if post.can_destroy? session[:session_id] %>
    <%= content_tag :div, :class => "destroy_button", :id => "destroy_button_"+post.id.to_s do -%>
      <%= button_to 'Remove Post', post, :method => :delete, :remote => true %>
	    <%= content_tag :div, :class => "seconds_remaining", :id => "seconds_remaining_"+post.id.to_s do -%>
        <script type="text/javascript">
          startCountdown(<%= post.id.to_s + ", " + post.seconds_remaining.to_s %>);
        </script>
      <% end -%>
    <% end %>
  <% end %>
  <div class="message_ago">Posted <%= time_ago_in_words(post.created_at) %> ago</div>
  <div class="message_content"><%= post.message %></div>
<% end %>
